body {
  background-image: url("../src/images/writinghand.jpg");
    
    
    background-color: #3bb0db;
    background-attachment: fixed; 
    opacity: 2; 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

h1 {
 text-align: center;
 padding: 40px 0 100px 0; 
 
}

h3 {
  padding: 20px 0 10px 20px;  
}

.containerLists {
    margin: 20px 150px 20px 150px; 
}

.bagpack {
    border: solid 3px;
    border-radius: 20px;
    margin-right: 20px;
}

.toDos {
    border: solid 3px;
    border-radius: 20px;
    
}